
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
      @apply font-montserrat;
    }
    h1 {
      @apply text-6xl;
      @apply font-semibold;
    }

    h2 {
      @apply text-5xl;
      @apply font-semibold;
    }

    h3 {
        @apply text-3xl;
        @apply font-semibold;
    }

    h4 {
        @apply text-2xl;
        @apply font-semibold;
    }

    h5 {
        @apply text-xl;
        @apply font-normal;
    }

    h6 {
        @apply text-base;
        @apply font-normal;
    }

    p {
        @apply text-xs
    }

    body {
        @apply bg-secondary;
        @apply text-white;
    }

        .hover-underline-animation {
            position: relative;
            display: inline-block;
        }
    
        .hover-underline-animation::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 2px;
            bottom: 0;
            left: 100%;
            /* Déplacer l'underline à l'extrémité droite */
            background-color: black;
            /* Couleur de l'underline */
            transform-origin: right;
            /* Origine de la transformation pour que l'underline s'étende de droite à gauche */
            transform: scaleX(0);
            /* Commence avec une largeur nulle */
            transition: transform 0.5s ease-in-out;
            /* Animation de l'underline */
        }
    
        .hover-underline-animation:hover::after {
            transform: scaleX(1);
            /* Étendre l'underline à sa pleine largeur lors du survol */
        }
}